.note {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--secondary-color);
  border-radius: .75rem;
  width: 25vh;
  color: var(--text-color-light);
  padding: 2rem;
  padding-top: 1.5rem;
  height: max-content;
  user-select: none;
  backdrop-filter: blur(2px);
}

.note-name {
  color: var(--text-color-light);
  margin-left: -.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.5rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.note-logo {
  object-fit: contain;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.note-logo:hover {
  transform: scale(1.1);
  opacity: 0.8;
  cursor: pointer;
}